<% provide(:title, t('.title') ) %>

<div class="card">
    <h3 class="card-header"><%= t('.ways_to_contribute') %></h3>
    <div class="card-block">
        <p class="card-text"><%= markdown( t('.ways_to_contribute_paragraph') ) %></p>
    </div>
</div>