<%= simple_form_for([:course, :subject, :lesson, @lesson_translation]) do |f| %>
  <%= f.error_notification %>

  <%= f.input :content, as: :text %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
