<h1>Editing Lesson Translation</h1>

<%= render 'form', lesson_translation: @lesson_translation %>

<%= link_to 'Show', [:course, :subject, :lesson, @lesson_translation] %> |
<%= link_to 'Back', course_subject_lesson_path(@lesson_translation.lesson) %>
